* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

:root {
    --body-background-color: hsl(233, 47%, 7%);
    --card-background-color: hsl(244, 37%, 16%);
    --accent-color: hsl(277, 64%, 61%);
    --main-heading-color: hsl(0, 0%, 100%);
    --paragraph-color: hsla(0, 0%, 100%, 0.75);
    --stat-headings-color: hsla(0, 0%, 100%, 0.6);
}

.lexend-deca {
    font-family: "Lexend Deca", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.inter {
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-optical-sizing: auto;
    font-style: normal;
}


.bold {
    font-weight: 700;
}

html {
    font-size: 62.5%;
}

body {
    background-color: var(--body-background-color);
    height: 100dvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container {
    width: 85dvw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    margin: 0 auto;
}

.page {
    overflow: hidden;
    background-color: var(--card-background-color);
    border-radius: 8px;
    align-self: center;
    display: grid;
    grid-template-columns: [col1-start] minmax(1fr,350px) [col1-end];
    grid-template-rows: [row1-start] auto [row1-end row2-start] auto [row2-end];
}

.img-container {
    grid-column: col1-start / col1-end;
    grid-row: row1-start / row1-end;
    background-color: var(--accent-color);
}

.img-container img {
    width: 100%;
    display: block;
    mix-blend-mode: multiply;
}

.main-content {
    display: flex;
    flex-direction: column;
    grid-column: col1-start / col1-end;
    grid-row: row2-start / row2-end;
    color: white;
    padding: 2.5rem 2rem;
}

.main-title {
    text-align: center;
    font-size: clamp(2.7rem, 7vw, 4.7rem);
    color: var(--main-heading-color);
    margin-bottom: 1.5rem;
}

.highlight {
    color: var(--accent-color);
}

.main-description {
    text-align: center;
    font-size: clamp(1.4rem, 3.5vw, 2.2rem);
    line-height: 1.6;
    color: var(--paragraph-color);
}

.stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.7rem;
    margin-top: 1.7rem;
}

.stat {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.stat-number {
    font-size: clamp(2rem, 2.5vw, 2.4rem);
    margin-bottom: .2rem;
    color: var(--main-heading-color);
}

.stat-label {
    text-transform: uppercase;
    font-size: clamp(.8rem, 2.3vw, 1.6rem);
    letter-spacing: .2rem;
    color: var(--stat-headings-color);
}

footer {
    margin-top: auto;
    color: white;
}

.social-media {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 1rem 0 .5rem;
}

ion-icon {
    font-size: 1.7rem;
    color: var(--accent-color);
    border: 2px solid;
    border-radius: 50%;
    padding: .5rem;
    transition: all .3s ease;
}

ion-icon:hover {
    color: hsla(277, 78%, 66%, 0.767);
}

.attribution {
    font-size: 1.1rem;
    text-align: center;
}

.attribution a {
    color: white;
}

.attribution a:hover {
    color: var(--accent-color);
    text-decoration: none;
}

@media screen and (min-width: 43.75em) {
    .page {
        overflow: hidden;
        background-color: var(--card-background-color);
        border-radius: 8px;
        align-self: center;
        display: grid;
        grid-template-columns: [col1-start] 1fr [col1-end col2-start] 1fr [col2-end];
        grid-template-rows: [row1-start] auto [row1-end];
    }

    .img-container {
        grid-row: row1-start / row1-end;
        grid-column: col2-start / col2-end;
        background-color: var(--accent-color);

    }

    .img-container img {
        content: url('images/image-header-desktop.jpg');
        min-height: 100%;
    }

    .container {
        width: 95dvw;
        max-width: 120rem;
        margin: 0 auto;
    }

    .main-content {
        flex: 1;
        justify-content: center;
        grid-row: row1-start / row1-end;
        grid-column: col1-start / col1-end;
        color: white;
        padding: 3.5rem;
    }

    .main-title {
        text-align: left;
        font-size: clamp(2.5rem, 3.5vw, 4.5rem);
    }

    .main-description {
        text-align: left;
        line-height: 1.8;
        font-size: clamp(1.1rem, 1.8vw, 2.4rem);
        /* font-size: 1.1rem; */
    }

    .stats {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
        margin-top: 10%;
        max-width: 47rem;
    }
    
    .stat {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .stat-number {
        font-size: clamp(1.5rem, 2.5vw, 2rem);
        margin-bottom: .2rem;
        color: var(--main-heading-color);
    }

    .stat-label {
        text-transform: uppercase;
        font-size: clamp(1rem, .8vw, 1.5rem);
        letter-spacing: .2rem;
        color: var(--stat-headings-color);
        margin-bottom: 0;
    }

}